[Unit]
Description=XRK

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
KillMode=process
ExecStart=/usr/sbin/xrk.sh
RemainAfterExit=yes
User=root
